<div class="flex flex-1 items-center justify-center">
  <section class="formContainer">

    <h2 class="formHeader">Create new account</h2>

    <form id="create-account-form" action="" class="flex flex-col">

      <!-- Email -->
      <label class="lblInput" for="email">Email</label>
      <input class="textInput" type="email" id="email" name="email" autocomplete="email" required>

      <!-- Password -->
      <label class="lblInput" for="password">Password</label>
      <input class="textInput" type="password" id="password" name="password" autocomplete="current-password" required>

      <!-- Repeat Password -->
      <label class="lblInput" for="rpassword">Repeat Password</label>
      <input class="textInput" type="password" id="rpassword" name="rpassword" autocomplete="current-password" required>

      <!-- Message -->
      <div id="message" class="self-center"></div>

      <!-- Submit Button -->
      <button class="btn" type="submit">Create account</button>
    </form>

    <!-- Already have an account? Log in -->
    <div class="formExtra">Already have an account? <a class="hover:underline" href="/">Sign in</a></div>

  </section>
</div>