<!-- Universal Footer -->
<footer class="bg-stone-100 dark:bg-stone-950 p-2 w-full text-center border-t dark:border-stone-800 border-stone-200">
  <p class="w-full text-sm text-stone-700 dark:text-stone-300 ">Copyright &copy; 2025 Clandestine&nbsp;Operations&nbsp;Inc. All&nbsp;rights&nbsp;reserved.</p>
</footer>