<!-- Universal Footer -->
<footer class="bg-white dark:bg-stone-950 p-2 w-full text-center">
  <p class="w-full text-sm text-stone-700 dark:text-stone-300 ">Copyright &copy; 2025 Clandestine&nbsp;Operations&nbsp;Inc. All&nbsp;rights&nbsp;reserved. Just kidding man...</p>
</footer>