<section class="flex flex-col w-[500px] mx-auto my-20 px-12 py-14 bg-stone-50 dark:bg-stone-950 rounded-lg">

  <h2 class="mb-8 text-2xl font-bold dark:text-stone-200">Login to Clandestine Operations</h2>

  <form id="login-form" action="#" class="flex flex-col">
    <label class="text-stone-700 dark:text-stone-300 mb-2" for="email">Email</label>
    <input
      class="text-sm px-3 py-2 mb-4 border border-stone-200 dark:border-stone-800 rounded-lg dark:bg-stone-900 dark:text-stone-100"
      type="email" id="email" name="email" required>
    <label class="text-stone-700 dark:text-stone-300 mb-2 " for="mpassword">Password</label>
    <input
      class="text-sm px-3 py-2 border border-stone-200 dark:border-stone-800 rounded-lg dark:bg-stone-900 dark:text-stone-100"
      type="password" id="password" name="password" required>
    <div id="message" class="mt-8 self-center"></div>
    <button
      class="btn"
      type="submit">Login</button>
  </form>

</section>