<div class="flex flex-col flex-1 justify-center items-center p-4">
  
  <section class="formContainer">
    
    <div class="mb-5">
      <h2 class="formHeader">Sign in</h2>
    </div>
  
    <form id="login-form" class="flex flex-col">
  
      <!-- Email -->
      <label class="lblInput" for="email">Email</label>
      <input class="textInput" type="email" id="email" name="email" autocomplete="on" required>
  
      <!-- Password -->
      <label class="lblInput " for="password">Password</label>
      <input class="textInput" type="password" id="password" name="password" autocomplete="on" required>
  
      <!-- Message -->
      <div id="message" class="self-center"></div>
  
      <!-- Button -->
      <button class="btn" type="submit">Sign in</button>
    </form>
  
    <!-- Create new account -->
    <div class="formExtra">
      <a class="hover:underline" href="/register">Create new account</a>
    </div>
  
  </section>
</div>