<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>

  <link rel="stylesheet" href="output.css">
</head>

<body class="h-dvh flex flex-col dark:bg-stone-900" ontouchstart="">

  <%- include('../partials/Navbar') %>
  <%- body %>
  <%- include('../partials/Footer') %>

</body>

</html>