<script src="signedIn.js" defer></script>
<script src="homepage.js" defer></script>



<div class="flex flex-col flex-1 justify-center items-center p-5">
  <section class="max-h-[500px] w-full min-w-[330px] max-w-[500px] flex flex-col px-5 py-4 bg-stone-100 dark:bg-stone-900 rounded-lg border border-stone-200 dark:border-stone-800">

    <span class="text-3xl text-center font-bold dark:text-stone-200">Homepage</span>

  </section>
</div>
