<script src="signedIn.js" defer></script>


<div class="flex flex-1 justify-center">
  <section class="formContainer1">

    <h2 class="formHeader text-center">Homepage</h2>
    <div class="mt-2 w-full border-b dark:border-stone-800 border-stone-300"></div>


  </section>
</div>
