<script src="signedIn.js" defer></script>
<script src="settings.js" defer></script>

<div class="flex flex-auto justify-center items-center min-h-0 overflow-x-auto">

  <div id="sidebar" class="min-w-max h-full pl-4 max-h-[450px]">
    <section
      class="overflow-y-auto h-full bg-stone-100 dark:bg-stone-900 rounded-tl-lg rounded-bl-lg border-l border-b border-t border-stone-200 dark:border-stone-800">
      <ul class="flex flex-col">
        <li id="menu-photo" class="w-full py-2 px-3 dark:text-white cursor-pointer rounded-tl-md">Photo</li>
        <li id="menu-email" class="w-full py-2 px-3 dark:text-white cursor-pointer">Email & Password</li>
        <li id="menu-delete" class="w-full py-2 px-3 dark:text-white cursor-pointer">Delete Account</li>
      </ul>
    </section>
  </div>

  <div id="settings-container" class="max-h-[450px] h-full w-full min-w-[330px] max-w-[500px] pr-4">
    <section
      class="h-full flex flex-col px-5 py-4 bg-stone-100 dark:bg-stone-900 rounded-tr-lg rounded-br-lg border border-stone-200 dark:border-stone-800  overflow-y-auto">
      <div id="section-photo" class="flex flex-col items-center" style="display: none">
        <h2 class="text-3xl font-bold dark:text-stone-200">Photo</h2>
        <p class="text-sm dark:text-stone-300 mt-2 mb-5">Update your profile photo.</p>

        <input id="selectedPhoto" type="file" accept="image/*" style="display: none;">
        <img id="photoPreview"
          class="cursor-pointer mt-4 rounded-full border border-stone-200 dark:border-stone-800 w-36 min-w-36 max-w-36 h-36 min-h-36 max-h-36" title="Update photo">
        <button id="btnRemovePhoto" class="transition-all duration-75 text-sm mt-5 mb-2 text-stone-900 dark:text-stone-100 hover:bg-stone-200 dark:hover:bg-stone-800 rounded-lg px-3 py-1 border border-stone-200 dark:border-stone-800 dark:active:bg-stone-800 active:bg-stone-200 cursor-pointer">Remove photo</button>
      </div>

      <div id="section-email" class="flex flex-col" style="display: none">
        <h2 class="text-3xl font-bold dark:text-stone-200 text-center">Email & Password</h2>
        <p class="text-sm text-center dark:text-stone-300 mt-2 mb-5">Update your email or password.</p>
        <form id="form-email" action="/editEmail" method="post" class="flex flex-col">
          <label for="email" class="mb-2 text-stone-700 dark:text-stone-300 ">Email:</label>
          <input id="email" type="email" name="email"
            class="userEmail text-sm px-3 py-1.5 mb-3 focus:outline-blue-300 dark:focus:outline-blue-900 focus:outline-2 dark:bg-stone-800 bg-stone-200 dark:text-stone-100 border border-stone-300 dark:border-stone-700 rounded-lg"
            required></input>
          <div class="flex w-full h-fit items-center justify-end">
            <span id="message-email"
              class="transition-all duration-100 pr-3 py-2 text-green-600 h-max text-sm cursor-default"
              style="opacity: 0">Email updated</span>
            <button id="edit-email"
              class="text-sm dark:disabled:bg-stone-700 disabled:bg-stone-400  disabled:cursor-default transition-colors duration-150 bg-blue-500 hover:bg-blue-600 active:bg-blue-600 text-stone-50 hover:text-white active:text-white dark:bg-blue-600 dark:hover:bg-blue-700 dark:active:bg-blue-700 dark:text-stone-100 dark:hover:text-white dark:active:text-white py-1 px-3 rounded-lg cursor-pointer border dark:border-stone-800 border-stone-200"
              type="submit" disabled>Update email</button>
          </div>
        </form>
        <form id="form-pass" action="/editPass" method="post" class="flex flex-col">
          <div class="flex flex-col">
            <label for="newPassword" class="mb-2 text-stone-700 dark:text-stone-300 ">New Password:</label>
            <input id="newPassword" name="newPassword" type="password"
              class="text-sm px-3 py-1.5 mb-3 focus:outline-blue-300 dark:focus:outline-blue-900 focus:outline-2 dark:bg-stone-800 bg-stone-200 dark:text-stone-100 border border-stone-300 dark:border-stone-700 rounded-lg"
              autocomplete="off" required="required"></input>
          </div>
          <div class="flex flex-col">
            <label for="confirmNewPassword" class="mb-2 text-stone-700 dark:text-stone-300 ">Confirm New
              Password:</label>
            <input id="confirmNewPassword" name="confirmNewPassword" type="password"
              class="text-sm px-3 py-1.5 mb-3 focus:outline-blue-300 dark:focus:outline-blue-900 focus:outline-2 dark:bg-stone-800 bg-stone-200 dark:text-stone-100 border border-stone-300 dark:border-stone-700 rounded-lg"
              autocomplete="new-password" required="required"></input>
            <div class="flex w-full h-fit items-center justify-end">
              <span id="message-password"
                class="transition-all duration-100 pr-3 py-2 text-green-600 h-max text-sm cursor-default"
                style="opacity: 0">Password updated</span>
              <button id="edit-password"
                class="text-sm dark:disabled:bg-stone-700 disabled:bg-stone-400  disabled:cursor-default transition-colors duration-150 bg-blue-500 hover:bg-blue-600 active:bg-blue-600 text-stone-50 hover:text-white active:text-white dark:bg-blue-600 dark:hover:bg-blue-700 dark:active:bg-blue-700 dark:text-stone-100 dark:hover:text-white dark:active:text-white py-1 px-3 rounded-lg cursor-pointer border dark:border-stone-800 border-stone-200 h-fit"
                type="submit" disabled>Update password</button>
            </div>
          </div>
        </form>
      </div>
      <div id="section-delete" class="flex flex-col" style="display: none">
        <h2 class="text-3xl font-bold dark:text-stone-200 text-center">Delete Account</h2>
        <p class="text-sm text-center dark:text-stone-300 mt-2 mb-5">Permenantly delete your account.</p>
        <form class="flex justify-center w-full mt-5" action="/deleteAccount" method="post">
          <button
            class="w-fit border dark:border-stone-800 dark:hover:bg-stone-800 dark:active:bg-stone-900 border-stone-200 hover:bg-stone-200 active:bg-stone-200 rounded-lg transition-all duration-75 dark:text-red-500 text-red-700 px-4 py-1 cursor-pointer"
            type="submit">Delete
            account</button>
        </form>
      </div>
    </section>
  </div>

</div>