<script src="signedIn.js" defer></script>

<div class="flex flex-col justify-center flex-auto items-center p-4">

  <section class="formContainer1">
    <h2 class="formHeader">Settings</h2>


    <div class="flex flex-col gap-6">
      <form id="form-email" action="/editEmail" method="post" class="flex flex-col">
        <label for="email" class="lblInput1 ">Email:</label>
        <input id="email" type="email" name="email" class="userEmail textInput1" required></input>
        <button id="edit-email" class="btn1 self-end" type="submit" disabled>Update email</button>

      </form>

      <form id="form-pass" action="/editPass" method="post" class="flex flex-col">

        <div class="flex flex-col">
          <label for="newPassword" class="lblInput1 ">New Password:</label>
          <input id="newPassword" name="newPassword" type="password" class="textInput1" autocomplete="off"
            required="required"></input>
        </div>

        <div class="flex flex-col">
          <label for="confirmNewPassword" class="lblInput1 ">Confirm New Password:</label>
          <input id="confirmNewPassword" name="confirmNewPassword" type="password" class="textInput1  "
            autocomplete="new-password" required="required"></input>
          <div class="flex w-full h-fit items-center justify-end">
            <span id="message"
              class="transition-all duration-100 px-4 py-2 text-green-600 h-max text-sm"
              style="opacity: 0">Password updated.</span>
            <button id="edit-password" class="btn1 h-fit" type="submit" disabled>Update password</button>

          </div>
        </div>

      </form>

    </div>

  </section>

  <form
    class="w-fit border dark:border-stone-800 dark:hover:bg-stone-900 dark:active:bg-stone-900 border-stone-300 hover:bg-stone-100 active:bg-stone-100 rounded-lg transition-all duration-200 mt-10"
    action="/deleteAccount" method="post">

    <button class="dark:text-red-500 text-red-700 px-4 py-1 cursor-pointer" type="submit">Delete
      account</button>
  </form>


</div>