<script src="signedIn.js" defer></script>


  <section id="settingsContainer" class="">
    <div class="flex flex-1 justify-center items-center">
      <section class="formContainer1">

        <h2 class="userEmail formHeader text-center"></h2>

      </section>
    </div>

  </section>

  <section class="flex-1">

  </section>